{% extends 'layouts/index.html' %}


{% block content %}
    <style type="text/css">
        .posts {
            width: 80%;
            margin-left: 10%;
            display: flex;
            justify-content: space-between;
        }
    </style>
    <div class="posts">
        {% for post in post %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-title">{{ post.title }}</h6>
                    <a href="#" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}